@import url(https://fonts.googleapis.com/css?family=OpenSans);

.ant-layout {
  background-image: url(./Pages/images/Slide3.png) !important;
}
.ant-layout > div > div > div:first-of-type {
  color: white !important;
  align-self: flex-start;
}

.ant-typography {
  color: #ffffff !important;
  font-size: 35px !important;
}

.ant-card {
  background-color: white !important;
  opacity: 1;
}

.ant-btn {
  background-color: #e7ff00 !important;
}

.ant-input {
  background-color: white !important;
  opacity: 1;
}
/* . {
  color: black !important;
} */

.ant-input-outlined {
  border-color: black !important;
}

.ant-btn {
  color: black !important;
}

.ant-card-bordered {
  max-width: 60vw !important;
}

.ant-menu-title-content {
  background-color: #e7ff00 !important;
  opacity: 5;
}

.ant-menu-item {
  background-color: #e7ff00 !important;
  opacity: 5;
}

.ant-menu-light {
  background-color: black !important;
  opacity: 1;
}

.ant-space-item {
  font-family: "OpenSans" !important;
  font-weight: bold;
  font-size: 20px;
}

.ant-layout-has-sider {
  background-color: black !important;
  opacity: 1;
}

.ant-layout-sider-children {
  background-color: black;
}

.ant-page-header-heading-title {
  font-style: normal;
  font-family: "OpenSans" !important;
  font-weight: bold;
  font-size: 25px;
}

.ant-menu-title-content {
  font-family: "OpenSans" !important;
  font-weight: bold;
  font-size: 15px;
}
.ant-table-cell {
  background-color: whitesmoke !important;
  border-color: black !important;
  opacity: 0, 5 !important;
}

.sider_logo {
  height: 42px;
  text-align: center;
  background-color: black;
}

.ant-layout-sider-children > div:first-of-type {
  background-color: black !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  padding-top: 16px !important;
}
.ant-pagination-item-link {
  color: #e7ff00 !important;
}
.ant-pagination-item {
  background-color: #e7ff00 !important;
}

/* ----- */

.ant-layout-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 80vw;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.ant-page-header {
  border-radius: 6px;
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: #2a132e;
}

.ant-menu-tree-arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 10px;
  color: #fff;
  transform: translateY(-50%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-tree-arrow::before,
.ant-menu-tree-arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}

.ant-menu-tree-arrow::before {
  transform: rotate(45deg) translateY(-2.5px);
}

.ant-menu-tree-arrow::after {
  transform: rotate(-45deg) translateY(2.5px);
}

.container {
  margin: 20px auto 60px;
  max-width: 1200px;
  width: 80vw;
  padding: 0px 16px;
  border-radius: 8px;
}

.layout-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 8px 16px;
}

@media screen and (max-width: 600px) {
  .layout-header a {
    flex: 100%;
    text-align: center;
  }
}

li {
  list-style: none;
}

.dot-icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #96969e;
  margin-right: 6px;
}

.nav-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #96969e;
  transition: all 0.3s;
  gap: 8px;
  color: black;
}

.nav-button:hover {
  color: #E7FF00
}

.nav-button:hover .dot-icon {
  background-color: #E7FF00;
}

.nav-button.active {
  color: #242436;
}

.nav-button.active .dot-icon {
  background-color: #E7FF00;
}

.spin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

::selection {
  background-color: #E7FF00;
  color: #fff;
}
